<!-- Camera -->
<div class="content" data-role="view" data-show="app.camera.init">
    <div class="action-area ch50">
        <button class="button dh" id="capturePhotoButton">Take Photo</button>
        <button class="button dh" id="getPhotoFromLibraryButton">Select from Photo Library</button>
        <button class="button dh" id="getPhotoFromAlbumButton">Select from Photo Album</button>
    </div>
    <div class="result-area ch50">
        <div class="results">
            <div class="desc">Note: Photo Library and Photo Album display the same photo album on Android.</div>
            <img style="display:none;margin:5px auto; width:120px; height:120px;" id="smallImage" src="" />
        </div>
        <div class="separator"></div>
    </div>
</div>
