<!--Trails Tracker-->
<div id="tabstrip-trails-tracker" 
     data-role="view"  
     data-title="Trails Tracker" 
     data-model="app.trailsTracker.viewModel"
     class="view-content">

    <div class="trails">
        <ul id="trails-listview" 
            data-role="listview" 
            data-bind="source: trailsDataSource" 
            data-template="trailTemplate">
        </ul>
    </div>
</div>

<!--Trails Tracker template-->
<script type="text/x-kendo-tmpl" id="trails-tracker-template">
    <div>
        <div class="position-left inline">
            <span class="trails-info date">${timeStamp}</span>
            <div class="trails-info location">
                <span>${location}</span>
            </div>
        </div>
        <div class="position-right inline">
            <img class="trails-thumb" data-bind="attr: {src: image}">
        </div>
    </div>
</script>
<script type="text/x-kendo-template" id="trailTemplate">
    <div data-role="touch">
        <div>
            <span data-align="left" class="img-titles">
                # var date = CreatedAt.toDateString()
                
                # <span>#: date #,</span>
    
                # var time = CreatedAt.toTimeString().substring(0, 8);
    
                # <span>#: time #h</span>
            </span>
            <a id="trail-thumb" >
                <img  data-align="right" id="picture" data-bind="attr:{src: PictureUrl}" width="75" />
            </a>
        </div>
    </div>
</script>