<!--Trails Tracker-->
<div id="tabstrip-trails-tracker" 
     data-role="view"  
     data-title="Trails Tracker" 
     data-model="app.trailsTracker.viewModel">

    <div class="weather">

        <ul class="forecast-list" 
            data-role="listview" 
            data-bind="source: trailsDataSource" 
            data-template="trails-tracker-template">
        </ul>
    </div>
</div>

<!--Trails Tracker template-->
<script type="text/x-kendo-tmpl" id="trails-tracker-template">
    <div>
        <div class="position-left">
            <span class="weather-info date">${timeStamp}</span>
        </div>
        <div class="position-right">
            <span class="weather-info temperature high">${location}</span>
            <span class="weather-info temperature low">${userId}</span>
        </div>
        <div class="position-center">
            <img class="trails-image" data-bind="attr: {src: image}">
        </div>
    </div>
    <div class="separator">
        <div class="dark"></div>
        <div class="light"></div>
    </div>
</script>