<!--Trails Tracker-->
<div id="tabstrip-trails-tracker" 
     data-role="view"  
     data-title="Trails Tracker" 
     data-model="app.trailsTracker.viewModel"
     class="view-content">

    <div class="trails">
        <ul class="trails-list" 
            data-role="listview" 
            data-bind="source: trailsDataSource" 
            data-template="trails-tracker-template">
        </ul>
    </div>
</div>

<!--Trails Tracker template-->
<script type="text/x-kendo-tmpl" id="trails-tracker-template">
    <div>
        <div class="position-left inline">
            <span class="trails-info date">${timeStamp}</span>
            <div class="trails-info location">
                <span>${location}</span>
            </div>
        </div>
        <div class="position-right inline">
            <img class="trails-thumb" data-bind="attr: {src: image}">
        </div>
    </div>
</script>